<section id="map">
  <div id="map_canvas"></div>
  <!-- end Map Canvas -->
  <div id="map_cover">
    <div id="activate-box">
        <div class="l-box">
            <span class="activate">Press To Activate</span>        
        </div>
    </div>
  </div>
</section>
<!-- end map -->