<section id="register">
  <div class="dim-bg"></div>
  <div class="container">
    <div class="row">
      <div id="countdown"></div>
      <div class="span12 white register-box text-center">
        <h2 class="register-title">Tickets Available Soon!</h2>
        <a href="#newsletter" class="btn btn-large btn-primary">Notify me!</a>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>