<section id="register">
  <div class="dim-bg"></div>
  <div class="container">
    <div class="row">
      <div id="countdown"></div>
      <div class="span12 white register-box text-center" style="margin-top: 50px">
        <a href="#tickets" class="btn btn-large btn-primary">Buy tickets!</a>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
