{% for sponsor in startupweekend_content('Sponsor') %}
{% if loop.first %}
<section id="sponsors" class="x-section white-bg">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="module-header sponsors-header">
                    <h4>Sponsors</h4>
                </div>
            </div>
            <div class="span12 hero-unit text-center">
                <h2>{{ title }} is proudly supported by these awesome sponsors</h2>
            </div>
{% endif %}
            <div class="span3 text-center">
                <a href="{{ sponsor.link }}" rel="friend met">
                    <img src="{{ sponsor.logo.file.thumbnails.sponsor }}" alt="{{ sponsor.name }}" class="sponsor-logo">
                </a>
            </div>
{% if loop.last %}
        </div>
    </div>
</section>
{% endif %}
{% endfor %}
