<section id="template" class="x-section">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="module-header template-header">
                    <h4>SET THIS TITLE</h4>
                </div>

                <div class="span12 hero-unit text-center white">
                    <h2>SET THIS JUMBO TITLE</h2>

                    <p>lorem ipsum dolor sit amet, consectetur</p>
                </div>

                <div class="span12">
                    <div class="divider-space"></div>
                </div>

            </div>
        </div>
    </div>
</section>