<section id="tickets" class="x-section white-bg">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="module-header tickets-header">
                    <h4>Tickets</h4>
                </div>

                <div class="span12 hero-unit text-center">
                    <h2>Get Your Tickets</h2>
                    {# <p>lorem ipsum dolor sit amet, consectetur</p> #}

                    <div id="tickets-iframe" class="iframe-tickets">
                        
                        {% for HTML in startupweekend_content('Eventbrite_Snippet') %}
                            <div style="margin-top: 20px">
                                {{ HTML.body|raw }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="span12">
                    <div class="divider-space"></div>
                </div>

            </div>
        </div>
    </div>
</section>