<section id="twitter-feed">
    <div class="container">
        <div class="row">
            <div class="span10 offset1 text-center">
                <div class="tweet"></div>
                <a href="https://twitter.com/{{ twitter }}" class="btn btn-follow" rel="me" target="_blank">Follow Us <i class="iconf-twitter"></i></a> </div>
        </div>
    </div>
</section>